# PYTHON CLASS 26-10-2024

# DATA TYPE vs  DATA STRUCTURE vs  MATRIX

In [ ]:
1. Collection of DATA STRUCTURE is known as MATRIX 

2. Collection of DATA TYPE is known as DATA STRUCTUE

3. The variable which has more  than one value is called as DATA STRUCTURE 
   For Example: b = 1,2,3,4,

4. The Variable which has only one value is called DATA TYPE.

# PYTHON DATA STRUCTURE

In [ ]:
The following are the Python Data Structure of two types

A. PRIMITIVE                                   B.NON-PRIMITIVE (BUILT-IN)
     ||                                                 ||
  1. FLOAT                                              1. LIST
  2. INTEGER                                            2. TUPLE
  3.  STRING                                            3. SET
  4. BOLLEAN                                            4. DICT (Dictionary)
  5. COMPLEX

# LIST DATA STRUCTURE

APPEND FUNCTION

In [ ]:
1.List Data structure is always defined with square backets [  ]
2. Only in built function fucntions no other function will wroks

In [1]:
l = [ ]
l

[]

In [3]:
type(l)

list

In [ ]:
There is no value in the brackets that is why the output is showing as empty.

In [4]:
l.append(10)
l

[10]

In [ ]:
1. In the earlier code l was showing as empty bracket [ ]

2. To fill in the bracket we enter variable name which is l and then enter dot. and hit the tab button

3. After you hit the tab button you will see buit-in options

4. Choose append from the option which means to add the value in the bracket

5. If you put the cursur on append and press shift+tab
   you can see its information.

6. Whatever value we enter in append it will first in order. 
   For example: If you enter value ten first and twenty 
   the output shows 10 as first and 20 as second

In [6]:
l.append(20)
l.append(30)
l

[10, 20, 30]

In [7]:
l.append(20,30,40,50)
l

TypeError: list.append() takes exactly one argument (4 given)

In [ ]:
1. We cannot write all the values for onr variable at once 
   as you get error like above

2. Though a data structure can have more than one value but 
   that has to be written seperatley

In [8]:
l.append(2.3)
l.append(1+2j)
l.append(True)
l.append('nit')
l

[10, 20, 30, 2.3, (1+2j), True, 'nit']

Like this we can defeine more than one value

In [9]:
len(l)

7

In [11]:
l.append(10)
l

[10, 20, 30, 2.3, (1+2j), True, 'nit', 10, 10]

In [12]:
len(l)

9

REMOVE FUNCTION

In [13]:
l.remove(10)
l

[20, 30, 2.3, (1+2j), True, 'nit', 10, 10]

In [ ]:
1. The remove function will remove the value of first occurance.
2. It means it will remove the first number of same number.
3. in the ablove as you can see the first 10 is missing as there are duplicates.

In [15]:
l.remove(10)
l

[20, 30, 2.3, (1+2j), True, 'nit', 10]

COPY FUNCTION

In [18]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 10]

In [20]:
l1 = l.copy()
l1

[20, 30, 2.3, (1+2j), True, 'nit', 10]

In [ ]:
1. The copy function allow us to copy from one variable to nother new variable
2. When you are copying the exisiting varaible, you must create
   a new varialbe to paste the copied element
   For example: if l= 20,30,40 and you create new varaile
   like l1 = l.copy() the output result shows as above

In [22]:
l == l1

True

In [ ]:
1. To compare two list you use equalto = operator
2. Since two varialbe have same element it is showing True

COUNT FUNCTION

In [24]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 10]

In [25]:
l.count(20)

1

In [39]:
l.append(20)
l

[30, 2.3, (1+2j), True, 'nit', 10, 20, 20, 20]

In [42]:
l.count(20)
1

1

In [ ]:
1. This count  fucntion is used to check, how many times 
    the same value is repeating

2. In the above output 20 is  not repeating that is why it showing as 1

3. If the value is repating again the count function will
   show the number of times of repeating.

In [26]:
l[:]

[20, 30, 2.3, (1+2j), True, 'nit', 10]

In [27]:
l[4]

True

In [37]:
l

[30, 2.3, (1+2j), True, 'nit', 10, 20, 20]

# END OF SESSION

# 27-10-2024 SUNDAY NO CLASS

# 28-10-2024

CLEAR FUNCTION

In [45]:
l2 =[]
l2

[]

In [46]:
l2.append(1)
l2.append(2.3)
l2.append(True)
l2.append(1+2j)
l2.append('nit')
l2

[1, 2.3, True, (1+2j), 'nit']

In [47]:
l3=l2.copy()
l3

[1, 2.3, True, (1+2j), 'nit']

In [51]:
len(l3)

5

In [53]:
l3.clear()
l3

[]

In [54]:
len(l3)

0

In [58]:
del l3

NameError: name 'l3' is not defined

In [ ]:
1. When you copy or create new varailbe and you want to remove 
    or clear the varialbe after you copy   
    for that we use clear function.

2. once the varialbe is cleared the length of the varialbe
    is shown as zero, since we have cleared 
    that varaible  from the system memory.

In [59]:
l2

[1, 2.3, True, (1+2j), 'nit']

In [60]:
l2.remove(2.3)
l2

[1, True, (1+2j), 'nit']

In [61]:
l2

[1, True, (1+2j), 'nit']

EXTEND FUNCTION

In [64]:
l3=[]
l3

[]

In [72]:
l3.append(10)
l3

[10]

In [73]:
l2

[1, True, (1+2j), 'nit']

In [75]:
l3.extend(l2)
l3

[10, 1, True, (1+2j), 'nit', 1, True, (1+2j), 'nit']

In [ ]:
1. The extend fuction is used for to add values from another varaible
2. AS you can see above for l3 varaivle i have extend values from l2 variable.
3. It helps the merges both the variable values.
4. Technically it is called as concatenation or extended.

INDEX FUNCTION

In [76]:
l3

[10, 1, True, (1+2j), 'nit', 1, True, (1+2j), 'nit']

In [77]:
l3.index(1+2j)

3

In [ ]:
1. The above output showing as 3 beacuse of the index function

2. The index function is used to know the value position 
   For example: in the above code l3 is having values as follows

 VALUE     10,  1,  True,  (1+2j),  'nit',   1,   True,  (1+2j), 'nit'
 INDEX      0   1     2       3        4     5     6       7       8

When you write a code to fine the index of (1+2j) 
the out put shows as 4 because it is coming in 4th order.

In [78]:
l2

[1, True, (1+2j), 'nit']

In [80]:
l2.index('nit')

3

INSERT FUNCTION

In [82]:
l2

[1, True, (1+2j), 'nit']

In [85]:
l2.insert(2, 'False')
l2

[1, True, 'False', (1+2j), 'False', 'nit']

In [ ]:
1. The insert function allows us to add value for the exsiting varailbe
2. if you want add any element in the exisitng varailbe, you need to choose the index postion after that 
   specific element. 

 In the above output i have false that has to appreaed after true 
 so in code i enter 2. false,
 Because 2 is refering the element after  true. 

3. In insert function we always pass two arguments

POP  FUNCTION

In [86]:
l3

[10, 1, True, (1+2j), 'nit', 1, True, (1+2j), 'nit']

In [87]:
l3.pop()

'nit'

In [88]:
l3

[10, 1, True, (1+2j), 'nit', 1, True, (1+2j)]

In [ ]:
1. The pop function with only empty bracjets will  remove the 
    last element by default as you can see in the above function.

2. If you want to remove any specific element then we need to enter
   index position number inside the bracket, as you can see below.

In [89]:
l3

[10, 1, True, (1+2j), 'nit', 1, True, (1+2j)]

In [90]:
l3.pop(2)
l3

[10, 1, (1+2j), 'nit', 1, True, (1+2j)]

SORT FUNCTION

In [91]:
l4=[10,100,3,45,76,24]
l4

[10, 100, 3, 45, 76, 24]

In [92]:
l4.sort()
l4

[3, 10, 24, 45, 76, 100]

In [94]:
l4.sort(reverse=True)
l4

[100, 76, 45, 24, 10, 3]

In [ ]:
1. The  sort function is used put the value in the asending order,
    when you enter only empty brackets it will default show in ascending order.
 
2. To get the value in descending order you need to write reserve=true  

3.  To sort the string also we use same as above

4. The sort fuction is not possible for the combinaton of numeric and alphbatic,

In [95]:
l5= ['z', 'm', 'c', 'w']
l5

['z', 'm', 'c', 'w']

In [96]:
l5.sort()
l5

['c', 'm', 'w', 'z']

REVERSE FUNCTION

In [98]:
l3

[10, 1, (1+2j), 'nit', 1, True, (1+2j)]

In [101]:
l3.reverse()
l3

[(1+2j), True, 1, 'nit', (1+2j), 1, 10]

NESTED LIST

In [ ]:
1. When we use two square brackets between the brackets is
   called as nested list 
2. Nested list only works on string

In [18]:
l2= [1, True, 'False', (1+2j), 'False', 'nit']
l2

[1, True, 'False', (1+2j), 'False', 'nit']

In [107]:
l2[2] # 2 is index postion of false

'False'

In [108]:
print(l2[2][0])
print(l2[2][1])
print(l2[2][2])
print(l2[2][3])
print(l2[2][4])

F
a
l
s
e

In [ ]:
1. The reverse function is nused to reverse the value as you can see above.

INFORMATION

In [ ]:
1. append:    is used to add the element at last

In [ ]:
2. clear:     is used to clear the element from the list

In [ ]:
3. copy:      is used to copy from one list to another list

In [ ]:
4. count:     is used to count the lenght of the element

In [ ]:
5. extend:    is used to extend the value or merging 
              between two variables

In [ ]:
6. index:      is used to show the position  of the element

In [ ]:
7. insert:     is used to insert new element before the old element 
               or existing element

In [ ]:
8. pop:        is used to remove the element from index level 
               (by deafult last element)

In [ ]:
9. reverse:    is used to reversing the list

In [ ]:
10.sort:      is used to  put the elemtns in numercial or alphbetical order

# MUTABLE FUNCTION

In [ ]:
1. The mutable function is used to replace or change the existing element.
2. There are two types of mutable
    1) Mutable or Hasahble
    2) immutable or unhashable

In [12]:
l2= ['technology', 2.3, 10, 1+2j]
l2

['technology', 2.3, 10, (1+2j)]

In [13]:
l2[2] = 3.2
l2

['technology', 2.3, 3.2, (1+2j)]

In [ ]:
1. The above is showing output replacing 10 as 3.2 beacause, 
    in the above we have entered index postion and 
    the element what we need to replace.

In [14]:
l2

['technology', 2.3, 3.2, (1+2j)]

In [15]:
for i in l2:
    print(i)

technology
2.3
3.2
(1+2j)

In [16]:
print(type(i))

<class 'complex'>

In [ ]:
1. The above diplaying the output in stragint line, or in a loop,
   for this we need to   write code as above

2. when you use semi coloun : and hit the enter by default it takes 4 spaces. 
    This is called as   "INDENTATION" 

3. By default indenttation takes 4 spaces .

In [20]:
l6=['sbi', 'icici']
l7=['hdfc', 'kotak']

l6,l7

(['sbi', 'icici'], ['hdfc', 'kotak'])

In [ ]:
1. To merge both of the above strings, we need to create new variable 
   and add them like below

In [21]:
family_bank= (l6+l7)
family_bank

['sbi', 'icici', 'hdfc', 'kotak']

In [23]:
l2

[1, True, 'False', (1+2j), 'False', 'nit']

In [24]:
for i in enumerate (l2):
    print(i)                # this is the code we use to find the index postion or paid element

(0, 1)
(1, True)
(2, 'False')
(3, (1+2j))
(4, 'False')
(5, 'nit')

In [26]:
l=[20, 30, 2.3, 1+2j, True, 'nit', 20]
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [27]:
l[:]
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [31]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [32]:
l[:: -1]

[20, 'nit', True, (1+2j), 2.3, 30, 20]

In [33]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [35]:
l[:: -2]

[20, True, 2.3, 20]

In [36]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [38]:
l[17]

IndexError: list index out of range

In [39]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [40]:
l[2:] # it print the element from 2nd index to till last, bacuse we havent
      #  metioned any end value

[2.3, (1+2j), True, 'nit', 20]

In [41]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [42]:
l[:2] # left side we mentioned : so it takes first elemnet by deafult,
      # end we mentond till 2  means  (n-1) 2-1=1

[20, 30]

In [43]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [44]:
l[:7]

[20, 30, 2.3, (1+2j), True, 'nit', 20]

In [45]:
l

[20, 30, 2.3, (1+2j), True, 'nit', 20]

ADVANCE SLICING

In [46]:
l[0:7:3]

[20, (1+2j), 20]

In [ ]:
In the above code

1. 0 means starting index, if dont give any number systen defaults takes
   starting number

2. 7 means last index or till that index, but we need to minus 1 form 7 because right side index is 
    always n-i means 7-1=6

3. 3 means step  we need to eliminate 3 elemnnts till last index
   what we mentioned.

# END OF SESSION