# PYTHON CLASS  29-10-2024
# TUPLE DATA STRUCUTRE

In [ ]:
1. TUPLE Data structure is always defined with square backets () OPEN BRACKETS
2. TUPLE has only two functions
3. TUPLE is immutable 0r unhashable or unchangable
4. TUPLE allows duplicate of elements

In [1]:
t =()
t

()

In [2]:
type(t)

tuple

In [29]:
t=(10,10,20,30)
t

(10, 10, 20, 30)

In [7]:
t.count(10)

2

In [9]:
t.index(20)

2

In [ ]:
1. tuple has only two fucntion as you can see above, apart from this
   there are no other functions are allowed  like LIST DATA STRCUTURE.

2.  tuple allows all the data types like
    integer,float,string,compex boolean, you can see below

In [12]:
t1= (20, 2.3, 'nit', 1+2j, True)
t1

(20, 2.3, 'nit', (1+2j), True)

In [14]:
t1.count(20)

1

In [16]:
t1.index(True)

4

In [17]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [18]:
for i in t1:
    print(i)  # this is code for loop

20
2.3
nit
(1+2j)
True

In [19]:
for i in enumerate(t1):
    print(i)

(0, 20)
(1, 2.3)
(2, 'nit')
(3, (1+2j))
(4, True)

In [20]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [23]:
t1[:4]

(20, 2.3, 'nit', (1+2j))

In [ ]:
1. In tuple slicing is allowed

In [30]:
t

(10, 10, 20, 30)

In [31]:
t2 = t * 4
t2

(10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30)

In [ ]:
1. The above output showing t elements 4 times, beaucse of the code we entered
2. it does not mutiply the elements it only display duplicates like above

In [32]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [33]:
t5=t1*2
t5

(20, 2.3, 'nit', (1+2j), True, 20, 2.3, 'nit', (1+2j), True)

In [34]:
t

(10, 10, 20, 30)

In [35]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [36]:
t2

(10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30)

In [39]:
t5

(20, 2.3, 'nit', (1+2j), True, 20, 2.3, 'nit', (1+2j), True)

In [40]:
print(id(t))
print(id(t1))
print(id(t2))
print(id(t5))

2342419061776
2342435843712
2342422442080
2342435811264

In [ ]:
1. The above output show thwe address of  memory location of the specified variables
2. we use  fucnction id

tuple session is done

# TUPLE MEMBERSHIP

In [1]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [2]:
'one' in mytuple #  this is to check element is present or not
                 # if presnt 'True' or 'False'

True

In [3]:
'ten' in mytuple #  'ten'is not present  in the lsit that is why false

False

In [4]:
if 'three' in mytuple:
    print('Three is present in the tuple')

else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [5]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')

else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# INFORMATION  TO KNOW

In [ ]:
1. IDE (Integrated Development Environment), 
   the tool what we are using to
   write the code, run the code, bebug the code (Jupyter)

   IDE'S ARE: jupyter, pycharm, vs code, spyder

2. PYTHON INTERPRETER: run the code or execute the code line by line.

3. PYTHON COMPLIER: execute entire code at once.

4. PYTHON CONSTRCTOR: will tells us how much space is  required for
   defined varaibeles in memory  
   we can call it as __init__  (two underscores)

5. PYTHON SPECIAL CONCEPT: there are two special concepts: 
   1. __name__
   2. __init__

# END OF SESSION